
<div class="register-photo" style="background-image: url(&quot;assets/img/MAIN%20GATE%20-%20reedited.jpg&quot;);background-size: cover;">
  <div class="form-container">
    <div class="image-holder" style="background-image: url('assets/img/student.png');background-position: center;background-size: contain;background-repeat: no-repeat;"></div>
    <form method="post">
      <h2 class="text-center">
        <strong>Create</strong> an account.
      </h2>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Name" style="background-color: rgb(255,255,255);">
      </div>
      <div class="form-group">
        <input class="form-control" type="email" name="email" placeholder="Email" style="background-color: rgb(255,255,255);">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Matric Number" style="background-color: rgb(255,255,255);">
      </div>
      <div class="form-group">
        <select class="form-control" style="background-color: rgb(255,255,255);">
          <optgroup label="Faculties">
            <option value="12" selected="">Faculty of Agriculture</option>
            <option value="19">Faculty of Basic Clinical Sciences</option>
            <option value="18">Faculty of Basic Medical and Health Science</option>
            <option value="20">Faculty of Clinical Sciences</option>
            <option value="13">Faculty of Education</option>
            <option value="14">Faculty of Humanities</option>
            <option value="17">Faculty of Law</option>
            <option value="15">Faculty of Science</option>
            <option value="16">Faculty of Social and Management Science</option>
          </optgroup>
        </select>
      </div>
      <div class="form-group">
        <select class="form-control" style="background-color: rgb(255,255,255);">
          <optgroup label="Departments"></optgroup>
        </select>
      </div>
      <div class="form-group">
        <select class="form-control" style="background-color: rgb(255,255,255);">
          <optgroup label="Programme"></optgroup>
        </select>
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="Password" style="background-color: rgb(255,255,255);">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit" style="background-color: rgb(182,0,34);">Sign Up</button>
      </div>
      <a href="login.html" class="already">You already have an account? Login here.</a>
    </form>
  </div>
</div>
<app-footer></app-footer>
