<div class="row">
  <div class="col-md">
    <div class="alert alert-info" role="alert">
      <p>Welcome to the transcript payment history page. Please note, printing transaction receipt can be done by clicking the <button mat-button><mat-icon>print</mat-icon></button> button for any of the items in the table below.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-5 offset-7">
    <!-- search control -->
    <mat-form-field class="full-width" appearance="fill" >
      <mat-label>Search Payment</mat-label>
      <input matInput [(ngModel)]="searchKey" autocomplete="off" (keyup)="applyFilter()"
             [disabled]="paymentData === null">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="isKeyEmpty()">
        <mat-icon matSuffix>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
<!-- payment table -->
<div class="row">
  <div class="col-sm">
    <div class="card mat-elevation-z6">
      <div class="card-header text-center">
        <h5>Payment History/Transcript Application History</h5>
      </div>
      <div class="card-body">
        <table mat-table [dataSource]="paymentData" matSort>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>

          <ng-container matColumnDef="mat_no">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Matric No.</th>
            <td mat-cell *matCellDef="let element">{{element.mat_no}}</td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount Paid</th>
            <td mat-cell *matCellDef="let element">{{element.amount}}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">{{element.status}}</td>
          </ng-container>

          <ng-container matColumnDef="paymenttype">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Payment Type</th>
            <td mat-cell *matCellDef="let element">{{element.paymenttype}}</td>
          </ng-container>

          <ng-container matColumnDef="txRef">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Reference No</th>
            <td mat-cell *matCellDef="let element">{{element.txRef}}</td>
          </ng-container>

          <ng-container matColumnDef="dest">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Destination</th>
            <td mat-cell *matCellDef="let element">{{element.dest}}</td>
          </ng-container>

          <ng-container matColumnDef="orderStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Status</th>
            <td mat-cell *matCellDef="let element">{{element.orderStatus}}</td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
            <td mat-cell *matCellDef="let element">{{element.date}}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="preview(row)"><mat-icon>print</mat-icon></button>
            </td>
          </ng-container>
          <ng-container matColumnDef="loading">
            <td mat-footer-cell *matFooterCellDef colspan="10">
              <mat-progress-bar [color]="'primary'" [mode]="'indeterminate'"
                                [value]="50" bufferValue="75"></mat-progress-bar>
            </td>
          </ng-container>
          <ng-container matColumnDef="noData">
            <td mat-footer-cell *matFooterCellDef colspan="10">
              <div class="my-2 alert alert-info text-center" role="alert">
                <a class="alert-link">{{ tableMessage }} .
                  <button mat-raised-button color="accent" (click)="getPaymentRecord()" *ngIf="tableError">
                    <mat-icon>refresh</mat-icon> Refresh</button></a>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
          <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': paymentData !== null}"></tr>
          <tr mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(paymentData != null && paymentData.data.length == 0)}"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>
