.card {
  border-color:  #184e8e !important;
}

.card-header, .card-footer {
  color: #fff;
  background-color: #184e8e !important;
}

.theme-background, .router-active {
  background-color: #184e8e !important;
}

.active {
  background-color: #184e8e !important;
  color: #fff !important;
}
