<section><img style="width: 100%;height: 400px;background-size: cover;background-image: url('../../../assets/img/procedure.png');background-position: 40% 25%;"></section>
<div class="article-dual-column" style="margin-top: 20px;">
  <div class="container">
    <div class="row" style="color: #000000;">
      <div class="col-md-10 col-lg-3 offset-md-1">
        <div class="toc" style="font-family: 'Open Sans', sans-serif;">
          <p style="font-size: 13px;">Policies and options</p>
          <ul>
            <li><a routerLink="/pages/procedures">Application Procedures</a> </li>
            <li><a routerLink="/pages/delivery">Delivery Options</a> </li>
          </ul>
        </div>
        <div class="toc" style="font-family: 'Open Sans', sans-serif;">
          <hr>
          <p style="font-size: 13px;">Contents</p>
          <app-side-bar></app-side-bar>
        </div>
        <div class="toc" style="font-family: 'Open Sans', sans-serif;">
          <hr><img src="../../../assets/img/banking.png" width="90%"></div>
      </div>
      <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0" style="font-family: 'Open Sans', sans-serif;">
        <div class="text">
          <h2 style="margin-top: 0px;color: #000000;">Application Procedures</h2>
          <p class="text-justify"><strong>1.</strong>&nbsp;To make a transcript request, simply click on the '<strong>Apply for Transcript</strong>' link above. Fill in your details accurately as required on the form. Please note that it is necessary to provide
            a valid email address. This will be used by the webpage to send you status report of your application.<br></p>
          <p class="text-justify"><strong>2.</strong>&nbsp;Upon your first visit to the platform, you must fill in the form providing your personal details, contact information and Matriculation number.<br></p>
          <p class="text-justify"><strong>3.</strong>&nbsp;However, if you have visited the platform previously, and have successfully requested and PAID for a transcript, skip the process of filling the form and simply <strong>Log In</strong> using your email
            address in the field provided.<br></p>
          <p class="text-justify"><strong>4.&nbsp;</strong>You are expected to provide shipping details about the transcript you are requesting as follows: The name of the Institution or Organization that the transcript is to be sent to as well as its full address
            including City, State, ZIP/Postcode (for foreign addresses), Country, and Continent. Please note that the address you enter is the address that the courier will deliver your transcript to, therefore ensure that you are as detailed
            and accurate as possible.<br></p>
          <p class="text-justify"><strong>5. </strong>After choosing your payment option, you are required to enter your card details as<br>directed by webpage and make your payment. (All ATM cards are acceptable for payment (VISA, INTERSWITCH or MASTERCARD) as
            long as that card has been enabled for web transactions. You are expected to confirm from your bank that your card is enabled for web transactions).<br></p>
          <p class="text-justify"><strong>6.</strong>&nbsp;If for any reason, after you have reached Step 4 (that is, after you have selected your card-payment option) you do not finish the transaction that you initiated, you can complete the payment process any
            time later by confirming your Matriculation number. The system will recognize you. Click on the&nbsp;button of the payment you want to continue with, and select "<strong>Retry Payment</strong>". You will be taken back to the
            payment interface, where you will need to enter your card details and make your payment.<br></p>
          <p class="text-justify"><strong>7.</strong>&nbsp;If however you did not get to step 4 above, you will have to start the wholeprocess from Step 3 (that is, login again with your matriculation number.)<br></p>
          <p class="text-justify"><strong>8.</strong>&nbsp;After successful payment, you can decide to print your payment receipt.<br></p>
        </div>
      </div>
    </div>
  </div>
</div>
