<section><img style="height: 400px;background-size: cover;background-position: 40% 30%;background-image: url(&quot;assets/img/about.png&quot;);width: 100%;"></section>
<div class="article-dual-column" style="margin-top: 20px;">
  <div class="container">
    <div class="row" style="color: #000000;">
      <div class="col-md-10 col-lg-3 offset-md-1">
        <div class="toc" style="font-family: 'Open Sans', sans-serif;">
          <p style="font-size: 13px;">Policies and options</p>
          <ul>
            <li><a routerLink="/pages/procedures">Application Procedures</a> </li>
            <li><a routerLink="/pages/delivery">Delivery Options</a> </li>
          </ul>
        </div>
        <div class="toc" style="font-family: 'Open Sans', sans-serif;">
          <hr>
          <p style="font-size: 13px;">Contents</p>
          <app-side-bar></app-side-bar>
        </div>
        <div class="toc" style="font-family: 'Open Sans', sans-serif;">
          <hr><img src="../../../assets/img/banking.png" width="90%"></div>
      </div>
      <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0" style="font-family: 'Open Sans', sans-serif;">
        <div class="text">
          <h2 style="margin-top: 0px;color: #000000;">About Bowen Online Transcript Application (BOTA)</h2>
          <p class="text-justify">With regards to the university's continued efforts to serve its students
            (present and former) in a more effective way, Bowen University has introduced a new way for you
            to make your transcript request using the <strong>Bowen Online Transcript Application (BOTA)</strong>
            platform. The platform will provide the possibility to make request and pay for your academic transcript
            online, and where applicable, such transcripts will be delivered electronically.<br></p>
          <img class="img-fluid" style="margin-bottom: 20px;" alt="bota" src="../../../assets/img/bota.png" width="100%">
          <p class="text-justify">Using this platform, there is no longer a need for you to visit the school
            premises or send a friend or relative to apply for your academic transcripts; saving time and
            money.</p>
          <p class="text-justify">Bowen Online Transcript Application (BOTA) deliver transcripts both
            electronic and paper versions, depending on what time and order is placed. An electronic could
            be delivered in a secure online process the same day or next business day. A paper transcript
            could also be processed the same day or the next business day and will be delivered through
            courier services at additional cost.</p>
          <p class="text-justify">To begin, you will need to register by clicking on the "
            <strong>Apply for Transcript</strong>" link at the top of the webpage or click on the login
            button, if you have already registered.<br></p>
          <p>Follow the&nbsp;<a routerLink="#">step-by-step guide lines for the Transcript process</a>&nbsp;here.</p>
          <p>For further assistance:<br><i class="fa fa-caret-right"></i>&nbsp;Send an e-mail to&nbsp;
            <i class="fa fa-envelope"></i>&nbsp;transcript@bowenuniversity.edu.ng<br><i class="fa fa-caret-right">
            </i>&nbsp;Call us on <i class="fa fa-phone"></i>&nbsp;+234 (0) 8035371251&nbsp;<br><i class="fa fa-caret-right"></i>&nbsp;<a routerLink="#">Visit our FAQ section</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
