<div style="background-image: url('../../../assets/img/logo.png'); background-position: center center;"></div>
<div class="row">
  <div class="col-sm">

    <!-- header section of the print -->
    <div class="row justify-content-md-center">
      <div class="col-md-5 text-right">
        <img src="../../../assets/img/logo.png" width="40%">
      </div>
      <div class="col-md-7  text-left">
        <h4>BOWEN UNIVERSITY <br /><small class="text-muted"><em>(Of the Nigeria Baptist Convention)</em> <br />
          Iwo, Osun State, Nigeria.</small></h4>
      </div>
    </div>
    <div class="row justify-content-md-center text-center">
      <div class="col-md-auto">

      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md text-center">
        <h5 class="text-center" style="font-family: courier;">Transcript Payment Receipt</h5>
        <hr />
      </div>
    </div>
    <div class="row my-3" style="font-family: courier;">
      <div class="col-sm-12">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td class="p3 m3"></td>
              <td class="m4 p4 font-weight-bold">Name:</td>
              <td>{{paymentService.form.get('name').value}}</td>
            </tr>
            <tr>
              <td class="p3 m3"></td>
              <td class="m4 p4 font-weight-bold">Matric No.:</td>
              <td>{{paymentService.form.get('mat_no').value}}</td>
            </tr>
            <tr>
              <td class="p3 m3"></td>
              <td class="m4 p4 font-weight-bold">Application Type:</td>
              <td>{{paymentService.form.get('apptype').value}}</td>
            </tr>
            <tr>
              <td class="p3 m3"></td>
              <td class="m4 p4 font-weight-bold">Payment Status:</td>
              <td>{{paymentService.form.get('status').value}}</td>
            </tr>
            <tr>
              <td class="p3 m3"></td>
              <td class="m4 p4 font-weight-bold">Amount:</td>
              <td>{{currencyFormat(paymentService.form.get('amount').value)}}</td>
            </tr>
            <tr>
              <td class="p3 m3"></td>
              <td class="m4 p4 font-weight-bold">Transaction Code:</td>
              <td>{{paymentService.form.get('txRef').value}}</td>
            </tr>
            <tr>
              <td class="p3 m3"></td>
              <td class="m4 p4 font-weight-bold">Date:</td>
              <td>{{paymentService.form.get('date').value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button mat-raised-button color="primary" (click)="print()"><mat-icon>print</mat-icon> Print</button>&nbsp;
        <button mat-raised-button color="accent" (click)="close()"><mat-icon>close</mat-icon> Close</button>
      </div>
    </div>
  </div>
</div>
