<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body border rounded border-primary" style="background-color: rgba(24,78,142,0)">
                <div class="card-group border rounded border-primary">
                    <div class="card">
                        <div class="card-body" style="font-family: 'Open Sans', sans-serif;background-color: rgba(24,78,142,0.9);">
                            <div class="text-center" style="margin-bottom: 20px;"><img src="assets/img/applynowicon.png" width="50%"></div>
                            <h4 class="text-center card-title" style="font-family: 'Open Sans', sans-serif;color: rgb(255,255,255);font-size: 20px;">Apply Now</h4>
                            <p class="card-text" style="font-family: 'Open Sans', sans-serif;color: rgb(255,255,255);font-size: 14px;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <div class="text-center"><a class="btn btn-primary" routerLink="/application/apply" role="button" style="color: rgb(24,78,142);background-color: rgb(255,255,255);" href="#tab-2">Apply for Record</a></div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body" style="background-color: rgba(24,78,142,0.9);">
                            <div class="text-center" style="margin-bottom: 20px;"><img src="assets/img/icon-pay-as-you-go.png" width="50%"></div>
                            <h4 class="text-center card-title" style="font-family: 'Open Sans', sans-serif;color: rgb(255,255,255);font-size: 20px;">Payment Summary</h4>
                            <p class="card-text" style="font-family: 'Open Sans', sans-serif;color: rgb(255,255,255);font-size: 14px;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <div class="text-center"><a class="btn btn-primary border rounded border-primary" routerLink="/application/payment-history" role="button" style="font-family: 'Open Sans', sans-serif;color: rgb(24,78,142);background-color: rgb(255,255,255);" href="#tab-3">View Payment Summary</a></div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body" style="background-color: rgba(24,78,142,0.9);">
                            <div class="text-center" style="margin-bottom: 20px;"><img src="assets/img/98071_man_512x512.png" width="50%"></div>
                            <h4 class="text-center card-title" style="font-family: 'Open Sans', sans-serif;color: rgb(255,255,255);font-size: 20px;">Profile</h4>
                            <p class="card-text" style="font-family: 'Open Sans', sans-serif;color: rgb(255,255,255);font-size: 14px;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                            <div class="text-center"><a class="btn btn-primary" routerLink="/application/profile" role="button" style="font-family: 'Open Sans', sans-serif;color: rgb(24,78,142);background-color: rgb(255,255,255);" href="#tab-4">View Profile</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
