<!--<div class="simple-slider">
  <div class="swiper-container">
    &lt;!&ndash;<div class="swiper-wrapper">
      &lt;!&ndash;<div class="swiper-slide" style="background-image: url('../../../assets/img/DSC_1080 - Copy.jpg');background-size: cover;background-position: top;"></div>
      <div class="swiper-slide" style="background-image: url('../../../assets/img/DSC_0111.jpg');background-position: center;background-size: cover;"></div>
      <div class="swiper-slide" style="background-image: url('../../../assets/img/Student.png');background-position: center;background-size: contain;"></div>&ndash;&gt;

    </div>&ndash;&gt;
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>-->
<angular-image-slider [images]="imageUrl"></angular-image-slider>
<div class="article-dual-column" style="margin-top: 20px;color: #000000;">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-3 offset-md-1" style="margin-top: 5px;">
        <div class="toc" style="font-family: 'Open Sans', sans-serif;">
          <p style="font-size: 13px;">Policies and options</p>
          <ul>
            <li><a routerLink="/pages/procedures">Application Procedures</a> </li>
            <li><a routerLink="/pages/delivery">Delivery Options</a> </li>
          </ul>
        </div>
        <div class="toc" style="font-family: 'Open Sans', sans-serif;">
          <hr>
          <p style="font-size: 13px;">Contents</p>
          <ul>
            <li><a routerLink="/pages/about">About Us</a> </li>
            <li><a routerLink="#">Apply Now</a></li>
            <li><a routerLink="pages/faq">FAQ</a></li>
            <li><a routerLink="pages/contact-us">Contact Us</a> </li>
          </ul>
        </div>
        <div class="toc" style="font-family: 'Open Sans', sans-serif;">
          <hr><img src="../../../assets/img/banking.png" width="90%"></div>
      </div>
      <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0" style="font-family: 'Open Sans', sans-serif;margin-top: 5px;">
        <div class="text">
          <h2 style="margin-top: 0px;color: #000000;">General Information</h2>
          <p class="text-justify">As part of the University's continued effort to serve its current and former students in a more efficient way, Bowen University is introducing a new way for you to place your transcript orders using the <strong>Bowen Online Transcript Application (BOTA)</strong>.<br></p>
          <p
                  class="text-justify">Our Bowen Online Transcript Application is available now for Bowen University.<br><i class="fa fa-caret-right"></i>&nbsp;This service is applicable for Returning Students of the University&nbsp;<br><i class="fa fa-caret-right"></i>&nbsp;This
            service is also applicable for Existing Students of the University.&nbsp;<br><i class="fa fa-caret-right"></i>&nbsp;Postgraduate Alumni should please send their transcript application to the School of Post Graduate Studies.&nbsp;<br>
            <i
                    class="fa fa-caret-right"></i>&nbsp;Alumni from affiliate schools should please send their transcript application to their respective affiliate institution for processing.</p>
          <p class="text-justify">Using this platform, there is no longer a need for you to visit the school premises or send a friend or relative to apply for your academic transcripts; saving time and money.</p>
          <p class="text-justify">Bowen Online Transcript Application (BOTA) deliver transcripts both electronic and paper versions, depending on what time and order is placed. An electronic could be delivered in a secure online process the same day or
            next business day. A paper transcript could also be processed the same day or the next business day and will be delivered through courier services at additional cost.</p>
          <h2 style="color: #000000;">Current Students and Alumni are able to:</h2>
          <p class="text-justify"><i class="fa fa-caret-right"></i>&nbsp;Order a transcript 24/7 from anywhere in the world with internet access.<br><i class="fa fa-caret-right"></i>&nbsp;Request an official electronically-accessed transcript or mailed
            paper transcript.<br><i class="fa fa-caret-right"></i>&nbsp;Confirm an electronic signature and payment through a secure online portal.<br><i class="fa fa-caret-right"></i>&nbsp;Receive email notifications if a hold
            is preventing the release of a transcript.<br><i class="fa fa-caret-right"></i>&nbsp;Receive email notifications when orders are processed and electronic transcripts are downloaded.&nbsp;</p>
          <p>Follow the&nbsp;<a href="#">step-by-step guide lines for the Transcript process</a>&nbsp;here.</p>
          <p>For further assistance:<br><i class="fa fa-caret-right"></i>&nbsp;Send an e-mail to&nbsp;<i class="fa fa-envelope"></i>&nbsp;transcript@bowenuniversity.edu.ng<br><i class="fa fa-caret-right"></i>&nbsp;Help Desk&nbsp;
            <i
                    class="fa fa-phone"></i>&nbsp;+234 (0)&nbsp;<br><i class="fa fa-caret-right"></i>&nbsp;<a href="#">Visit our FAQ section</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="text-align:center;">
  <h2 class="divider-style" style="margin-top: 10px;"><span style="font-size: 15px;color: #000000;">powered by Directorate of Information Communication Technology</span></h2>
</div>
<div class="brands"><a href="#" style="height: 120px;padding-top: 10px;padding-bottom: 15px;"> <img src="../../../assets/img/new bowen logo.jpg" width="6%"><img src="../../../assets/img/Bowen News2.jpg" style="width: 280px;" ></a></div>
<div class="testimonials-clean">
  <div class="container">
    <div class="intro">
      <h2 class="text-center" style="padding-top: 20px;margin-bottom: 20px;color: #222222;">Testimonials </h2>
      <p class="text-center" style="color: #313437;font-family: 'Open Sans', sans-serif;">Our Alumni enjoys <strong>BOTA</strong>! Read what they have to say below.</p>
    </div>
    <div class="row people">
      <div class="col-md-6 col-lg-4 item">
        <div class="border rounded box">
          <p class="description" style="font-size: 14px;font-family: 'Open Sans', sans-serif;">Making order via this online shop, I was able to get a hard copy format of my transcript. The process was easy and delivery was swift voila.</p>
        </div>
        <div class="author"><img class="rounded" src="../../../assets/img/SimplyHDR1782827286.jpg">
          <h5 class="name">Oladimeji Utibe</h5>
          <p class="title" style="color: #7d8285;font-family: 'Open Sans', sans-serif;">Computer Science Graduate (2011)</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 item">
        <div class="border rounded box">
          <p class="description" style="font-size: 14px;font-family: 'Open Sans', sans-serif;">Got a copy of my transcript sent to my email. Easy, Timely and Flexible Application System. I didn't have to travel all the way down from South Africa.</p>
        </div>
        <div class="author"><img class="rounded" src="../../../assets/img/8a824a79-6945-4f4c-8258-e4045166d72a.jpg">
          <h5 class="name">Oladele Eniola</h5>
          <p class="title" style="color: #7d8285;font-family: 'Open Sans', sans-serif;">Computer Science Graduate (2015)</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 item">
        <div class="border rounded box">
          <p class="description" style="font-size: 14px;font-family: 'Open Sans', sans-serif;">My transcript was sent to me via courier services. This application made it easier for me because I didnt have to travel down to the University campus to get it.</p>
        </div>
        <div class="author"><img class="rounded" src="../../../assets/img/IMG_0094.jpg">
          <h5 class="name">Adekunle Iyanu</h5>
          <p class="title" style="color: #7d8285;font-family: 'Open Sans', sans-serif;">Business Administration Graduate (2013)</p>
        </div>
      </div>
    </div>
  </div>
</div>
