<div class="row">
  <div class="col-sm-9 mb-3">

   <!-- user data summary -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            User Data Summary
          </div>
          <div class="card-body">
 
          </div>
        </div>
      </div>
    </div>

    <!-- Transcript Details -->
  </div>
  <div class="col-sm-3">
    <!-- Fee Summary Section -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h6>Total Fee (₦)</h6>
          </div>
          <div class="card-body">
          </div>
          <div class="card-footer">
            Total(₦) =
          </div>
        </div>
      </div>
    </div>

    <!-- Instruction -->
    <div class="row mt-3">
      <div class="col-sm-12">
        <div class="alert alert-warning" role="alert">
          <h6 class="alert-heading">Instruction</h6>
          <hr>
          <p>example text is going to run
            a bit longer so that you can see how spacing</p>
          <p>example text is going to run
            a bit longer so that you can see how spacing</p>
        </div>
      </div>
    </div>
  </div>
</div>
