<section><img style="width: 100%;height: 400px;background-image: url('../../../assets/img/delivery.png');background-position: center;background-size: cover;"></section>
<div class="article-dual-column" style="margin-top: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-3 offset-md-1" style="color: #000000;">
        <div class="toc" style="font-family: 'Open Sans', sans-serif;">
          <p style="font-size: 13px;">Policies and options</p>
          <ul>
            <li><a routerLink="/pages/procedures">Application Procedures</a> </li>
            <li><a routerLink="/pages/delivery">Delivery Options</a> </li>
          </ul>
        </div>
        <div class="toc" style="font-family: 'Open Sans', sans-serif;">
          <hr>
          <p style="font-size: 13px;">Contents</p>
          <app-side-bar></app-side-bar>
        </div>
        <div class="toc" style="font-family: 'Open Sans', sans-serif;">
          <hr><img src="../../../assets/img/banking.png" width="90%"></div>
      </div>
      <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0" style="font-family: 'Open Sans', sans-serif;color: #000000;">
        <div class="text">
          <h2 style="margin-top: 0px;color: #000000;">Delivery Options</h2>
          <p class="text-justify">Once correct details have been filled and payments made successfully, Tracking ID and name of courier service will be sent to your e-mail.</p>
          <p class="text-justify"><strong>International Delivery </strong>&nbsp; &nbsp; &nbsp;<br>DHL - <a href="https://www.dhl.com/">https://www.dhl.com/</a><br>Fedex - <a href="https://www.fedex.com/">https://www.fedex.com</a><br></p>
          <p class="text-justify"><strong>Local Delivery</strong><br>EMS - <a href="http://www.emsng.com/">http://www.emsng.com</a><br>Kexpress - <a href="https://kxpress.ng/">https://kxpress.ng/</a><br>Courier Plus - <a href="http://courierplus-ng.com/">http://courierplus-ng.com</a><br></p>
          <p
                  class="text-justify"><strong>GENERAL DELIVERY</strong>&nbsp;–&nbsp;Available: Mondays to Fridays 8:00AM - 5:00PM. Also available Saturday and Sunday by Special Request.<br></p>
          <p>For further assistance:<br><i class="fa fa-caret-right"></i>&nbsp;Send an e-mail to&nbsp;<i class="fa fa-envelope"></i>&nbsp;transcript@bowenuniversity.edu.ng<br><i class="fa fa-caret-right"></i>&nbsp;Call us on <i class="fa fa-phone"></i>&nbsp;+234 (0) 8035371251&nbsp;<br><i class="fa fa-caret-right"></i>&nbsp;<a routerLink="/pages/faq">Visit our FAQ section</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
