<div class="footer-dark theme-background">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-7 col-xl-6 offset-md-3 offset-lg-3 offset-xl-3 text-center item text">
          <h3 style="font-family: 'Open Sans', sans-serif;">Bowen University, Iwo</h3>
          <p style="font-size: 14px;font-family: 'Open Sans', sans-serif;">Bowen University Iwo, Osun State, Nigeria. &nbsp;P.M.B 284 Iwo, Osun State<br>Registrar:&nbsp;<i class="fa fa-phone"></i>&nbsp;+234 (0) 8035371251&nbsp;<i class="fa fa-envelope"></i>&nbsp;registrar@bowenuniversity.edu.ng<br>
            <i
                    class="fa fa-envelope"></i>&nbsp;info@bowenuniversity.edu.ng &nbsp;<i class="fa fa-envelope"></i>&nbsp;contact@bowenuniversity.edu.ng<br>Social Media:&nbsp;<i class="fa fa-phone"></i>&nbsp;+234 (0) 9033122874&nbsp;&nbsp;<i class="fa fa-comments-o"></i>&nbsp;Pin:
            D1F15CF6</p>
        </div>
      </div>
      <p class="copyright">Directorate of Information and Communication Technology © 2019</p>
    </div>
  </footer>
</div>
