<div class="footer-dark" style="background-color: #184e8e;font-family: 'Open Sans', sans-serif;">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item" style="font-family: 'Open Sans', sans-serif;">
          <h3>Services</h3>
          <ul>
            <li><a routerLink="../../pages/procedures">Payment Procedures</a></li>
            <li><a routerLink="#">Apply for Transcript</a></li>
            <li><a routerLink="../../pages/delivery">Delivery Options</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item" style="font-family: 'Open Sans', sans-serif;">
          <h3>About</h3>
          <ul>
            <li><a routerLink="../../pages/faq">Frequently Asked Questions</a></li>
            <li><a routerLink="#">Bowen Website</a></li>
            <li><a routerLink="#">News</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3 style="font-family: 'Open Sans', sans-serif;">Bowen University, Iwo</h3>
          <p class="text-left" style="font-family: 'Open Sans', sans-serif;font-size: 14px;">Bowen University Iwo, Osun State, Nigeria&nbsp;<br>P.M.B 284 Iwo, Osun State<br>Registrar:&nbsp;<i class="fa fa-phone"></i>&nbsp;+234 (0) 8035371251&nbsp;<i class="fa fa-envelope"></i>&nbsp;registrar@bowenuniversity.edu.ng<br>
            <i
                    class="fa fa-envelope"></i>&nbsp;info@bowenuniversity.edu.ng &nbsp;<i class="fa fa-envelope"></i>&nbsp;contact@bowenuniversity.edu.ng<br>Social Media:&nbsp;<i class="fa fa-phone"></i>&nbsp;+234 (0) 9033122874<br><i class="fa fa-comments-o"></i>&nbsp;Pin:
            D1F15CF6</p>
        </div>
      </div>
      <p class="copyright" style="font-family: 'Open Sans', sans-serif;">Directorate of Information and Communication Technology © 2019</p>
    </div>
  </footer>
</div>
